<div class="container">

<h1 class="mb-3">Students</h1>
<hr>
<table class="table table-stripped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Gender</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.id.substr(0, 4) }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.phoneNumber }}</td>
        <td>{{ student.dateOfBirth | date: 'dd-MM-yyyy' }}</td>
        <td>{{ student.gender.description }}</td>
        <td>{{ student.address.street }}, {{ student.address.city }}</td>
      </tr>
    </tbody>

    <!-- <div class="pagination">
        <button [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
      </div> -->
  </table>
</div>
